<section class="bg-white py-12 dark:bg-gray-800">
  <div class="container mx-auto px-4">
    <h2
      class="text-2xl font-bold text-gray-800 dark:text-white mb-6 text-center"
    >
      Agregar Nuevo Artículo de Inventario
    </h2>
    <form
      method="post"
      action="{{ url_for('inventory.item_list', client_slug=business.client.slug, business_slug=business.slug) }}"
      hx-post="{{ url_for('inventory.item_list', client_slug=business.client.slug, business_slug=business.slug) }}"
      hx-target="#inventory-items-panel"
      hx-swap="outerHTML"
      class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-md dark:bg-gray-700"
    >
      {{ form.hidden_tag() }}
      <div class="mb-4">
        <label
          for="{{ form.name.id }}"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >{{ form.name.label }}</label
        >
        {{ form.name(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white", required=True) }}
        {% for error in form.name.errors %}
          <p class="text-red-500 text-sm mt-1">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="mb-4">
        <label
          for="{{ form.unit.id }}"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >{{ form.unit.label }}</label
        >
        {{ form.unit(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white", required=True) }}
        {% for error in form.unit.errors %}
          <p class="text-red-500 text-sm mt-1">{{ error }}</p>
        {% endfor %}
      </div>
      <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Agregar Artículo de Inventario
      </button>
    </form>
  </div>
</section>
